# ===== Python =====
__pycache__/
*.pyc
*.pyo

# ===== Jupyter =====
.ipynb_checkpoints/
*.ipynb

# ===== Large / Generated =====
*.h5
*.keras
*.pkl

# ===== Wordlists =====
general-list.txt
*.txt
*.gz
*.zip

# ===== Environment =====
.env

# ===== OS junk =====
.DS_Store
Thumbs.db
